/target
/output.owl
/output_as_Turtle.owl
/output_as_SNOMED_CT_CG.owl
/output_as_SNOMED_CT_CG_fail.owl
/output_whole_SNOMED_CT_as_CG.owl
/output_as_Turtle_again.owl
/output_whole_SNOMED_CT_as_CG_post_classification.owl
/output_whole_SNOMED_CT_as_CG_pre_classification.owl
/obsAlpha_as_SNOMED_CT_CG.owl
/svg_diagram_1.svg
/svg_diagram_2.svg
/svg_diagram_3.svg
/svg_diagram_4.svg
/test.svg
