(123456789 | Mass of tumor of skin (observable entity) |)
===
(363787002|Observable entity (observable entity)|:
	704346009|Specified by (attribute)|=(
		386053000|Evaluation procedure (procedure)|:
			704347000|Observes (attribute)|=(
				123456789|Feature of entity  (qualifier value)|:
					704318007|Property type (attribute)|=118538004 | Mass, a measure of quantity of matter (property) (qualifier value) |,
					704319004|Inheres in (attribute)|=(108369006 | Neoplasm (morphologic abnormality) |:
						123456789|Inherent location (attribute)| = 39937001 | Skin structure (body structure) | )
			)
	)
)
